<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.TestNgGroups"/>
      <class name="testNG.TestNgPriority"/>
      <class name="testNG.TestNg4"/>
      <class name="testNG.TestNG5"/>
      <class name="testNG.TestNg2"/>
      <class name="testNG.TestNG3"/>
      <class name="testNG.TestNGAssertion"/>
      <class name="practiceScript.PracticefirstScript"/>
      <class name="testNG.TestCase1"/>
      <class name="testNG.TestCase2"/>
      <class name="testNG.Dataprovider"/>
      <class name="testNG.TestNGAssertion2"/>
      <class name="testNG.RealTimeExample"/>
      <class name="testNG.InnovacationCount"/>
      <class name="testNG.TestNgclass1"/>
      <class name="testNG.Assertion3"/>
      <class name="testNG.TestNgClass1"/>
      <class name="testNG.TestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
